@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sideBar {
  width: 5.25vw;
  overflow: hidden;
  transition: .8s;
}

#sideBar .NonActive {
  @apply flex items-center gap-10 w-full;
}

#sideBar .listTitle {
  visibility: hidden;
}

#sideBar .iconColor {
  color: #DC97E2;
}

#sideBar:hover {
  width: 21.5vw;
  transition: .5s;
}

.Active {
  @apply bg-white text-black rounded flex items-center p-3 gap-10 w-full;
}

#sideBar:hover .listTitle {
  visibility: visible;
}

#sideBar:hover .iconColor {
  color: inherit;
}

#sideBar ul {
  @apply w-64 p-4 flex flex-col gap-4;
}

#sideBar ul li {
  @apply gap-10;
}

#sideBar ul li a{
  padding: 0.5rem 0.25rem;
}

#bcg {
  padding: 40px;
}

.AccDetails {
  @apply flex items-center justify-between;
}

/* Mobile styles */
@media (max-width: 767px) {
  #sideBar {
    width: 100%;
    overflow: visible;
  }  

  header{
    margin-top: 12vh
  }

  #sideBar .NonActive,
  #sideBar .Active {
    @apply flex items-center gap-4 w-full p-3;
  }

  #sideBar .listTitle {
    visibility: visible;
  }

  #sideBar ul {
    @apply w-full gap-4;
  }

  #sideBar ul li {
    @apply w-full;
  }

  /* Reset hover styles for mobile */
  #sideBar:hover {
    width: 100%;
  }

  #sideBar:hover .Active {
    @apply bg-transparent text-white;
  }

  #sideBar ul li a:hover,
  #sideBar ul li a.active {
    background-color: white;
    color: black;
  }

  #sideBar ul li a:hover .iconColor,
  #sideBar ul li a.active:not(:hover) .iconColor {
    color: #DC97E2;
  }
}

#sideBar ul li a:hover {
  background-color: white;
  color: black;
}

#sideBar ul li a:hover .iconColor {
  color: black;
}

#sideBar ul li a.active:not(:hover) .iconColor {
  color: #DC97E2;
}

input{
  border: none;
}